.App {
  text-align: center;
}

#root {
  position: absolute;
  top: 0;
}

.testDiv {
  position: relative;
}

.Pixels {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  grid-template-rows: repeat(auto-fill, 30px);
  grid-gap: 1px;
  grid-auto-columns: 30px;
  grid-auto-rows: 30px;
  width: 110%;
  height: 625px;
  z-index: 0;
  /* position: absolute; */
}

.Sections-pixeles {
  width: auto;
  height: auto;
  color: white;
  font-family: pixelFont2;
  z-index: 1;
  position: relative;
}

.box {
  display: flex;
  background: #341174;
}
.box:hover {
  transition: all 0.1s;
  background: #4300fb;
}

.box1 {
  display: flex;
  background: #95a609;
}
.box1:hover {
  transition: all 0.1s;
  background: #4300fb;
}

.box2 {
  display: flex;
  background: #aa7d09;
}
.box2:hover {
  transition: all 0.1s;
  background: #4300fb;
}

.box3 {
  display: flex;
  background: #cfdf46;
}
.box3:hover {
  transition: all 0.1s;
  background: #4300fb;
}

.box h3 {
  margin: auto;
}
.box h2 {
  margin: auto;
}
.box h1 {
  margin: auto auto auto 10px;
}
.box p {
  margin: auto auto auto 10px;
}

/* NAV-BAR */
.NavBar {
  width: auto;
  position: absolute;
  background: none;
}
.option-experience {
  display: flex;
  list-style: none;
  background: #341174;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
/* NAV-BAR */

/* -----------INFO-HERO----------- */
/* .info-hero-container {
  width: auto;
  height: auto;
  background: none;
  position: absolute;
  font-size: 60px;
} */
.description-box {
  position: absolute;
  margin-bottom: 1px;
  font-size: 60px;
}
.name-box {
  position: absolute;
  color: #95a609;
  margin-bottom: 1px;
  font-size: 78px;
}
.job-box {
  position: absolute;
  color: #cf9c1b;
  margin-bottom: 1px;
  font-size: 64px;
}
.country-box {
  position: absolute;
  margin-bottom: 1px;
  font-size: 60px;
}
/* -----------INFO-HERO----------- */
